doctype html
html(lang='en')
  head
    //if gte mso 9
      xml
        o:officedocumentsettings
          o:allowpng
            o:pixelsperinch 96
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='email=no')
    meta(name='x-apple-disable-message-reformatting')
    // [if !mso] <!
    style(type='text/css').
      @import url("https://static.mailerlite.com/assets/plugins/groot/modules/includes/groot_fonts/import.css?version=1660210");
    // <![endif]
    //if mso
      style(type='text/css').
        .content-MS .content img { width: 560px; }
    //if (mso)|(mso 16)
      style(type='text/css').
        .mlContentButton a { text-decoration: none; }
    // [if !mso] <!
    // <![endif]
    //if (lt mso 16)
      style(type='text/css', if='variable.bodyBackgroundImage.value').
        .mlBodyBackgroundImage { background-image: none; }
    //if mso
      style(type='text/css').
        .bodyText { font-family: Arial, Helvetica, sans-serif!important ; }
        .bodyText * { font-family: Arial, Helvetica, sans-serif!important; }
        .bodyText a { font-family: Arial, Helvetica, sans-serif!important; }
        .bodyText a span { font-family: Arial, Helvetica, sans-serif!important; }
        .bodyText span { font-family: Arial, Helvetica, sans-serif!important; }
        .bodyText p { font-family: Arial, Helvetica, sans-serif!important; }
        .bodyText ul li { font-family: Arial, Helvetica, sans-serif!important; }
        .bodyTitle { font-family: Arial, Helvetica, sans-serif!important ; }
        .bodyTitle * { font-family: Arial, Helvetica, sans-serif!important; }
        .bodyTitle a { font-family: Arial, Helvetica, sans-serif!important; }
        .bodyTitle a span { font-family: Arial, Helvetica, sans-serif!important; }
        .bodyTitle span { font-family: Arial, Helvetica, sans-serif!important; }
        .bodyTitle p { font-family: Arial, Helvetica, sans-serif!important; }
        .bodyFont { font-family: Arial, Helvetica, sans-serif!important ; }
        .bodyFont * { font-family: Arial, Helvetica, sans-serif!important; }
        .bodyFont a { font-family: Arial, Helvetica, sans-serif!important; }
        .bodyFont a span { font-family: Arial, Helvetica, sans-serif!important; }
        .bodyFont span { font-family: Arial, Helvetica, sans-serif!important; }
        .bodyFont p { font-family: Arial, Helvetica, sans-serif!important; }
        .mlContentButton { font-family: Arial, Helvetica, sans-serif!important; }
    meta(name='robots', content='noindex, nofollow')
    link(rel="stylesheet", href="/style.css", data-inline)

  body.mlBodyBackground(style='padding: 0; margin: 0; -webkit-font-smoothing:antialiased; background-color:#f6f8f9; -webkit-text-size-adjust:none;')
    // Make your email an accessible article.
    div(role='article', aria-roledescription='email', aria-label='test')
      // [if !mso] <!
      table.mainTable.mlBodyBackground(width='100%', border='0', cellspacing='0', cellpadding='0', bgcolor='#f6f8f9', dir='ltr', background='')
        tbody
          tr
            td.mlTemplateContainer(align='center')
              // <![endif]
              //if mso 16
                table(width='100%', border='0', cellspacing='0', cellpadding='0', align='center')
                  tbody
                    tr
                      td(bgcolor='#f6f8f9', align='center')
                        // 
              // Content starts here
              // BORDER RADIUS FOR CARDS LAYOUT
              // BORDER RADIUS FOR DEFAULT LAYOUT
              table.mobileHide(cellpadding='0', cellspacing='0', border='0', align='center', width='640', style='width: 640px; min-width: 640px;')
                tbody
                  tr
                    td(align='center')
                      table.mlContentTable(cellpadding='0', cellspacing='0', border='0', align='center', width='640', style='width: 640px; min-width: 640px;')
                        tbody
                          tr
                            td(colspan='2', height='20')
              table.mlContentTable(align='center', border='0', cellpadding='0', cellspacing='0', width='640')
                tbody
                  tr
                    td
                      // 
                      table.mlContentTable.mlContentTableDefault(align='center', border='0', bgcolor='#ffffff', cellpadding='0', cellspacing='0', width='640')
                        tbody
                          tr
                            td.mlContentTableCardTd
                              table.mlContentTable.ml-default(align='center', bgcolor='#ffffff', border='0', cellpadding='0', cellspacing='0', style='width: 640px; min-width: 640px;', width='640')
                                tbody
                                  tr
                                    td
                                      table.mlContentTable(role='presentation', cellpadding='0', cellspacing='0', border='0', align='center', width='640', style='width: 640px; min-width: 640px;')
                                        tbody
                                          tr
                                            td(align='center', style='padding: 0px 0px;')
                                              table(role='presentation', cellpadding='0', cellspacing='0', border='0', align='center', width='100%')
                                                tbody
                                                  tr
                                                    td#imageBlock(align='center')
                                                      img(src=emailHeaderImage, border='0', alt='', width='640', style='display: block;')
                      // 
                      // 
                      table.mlContentTable.mlContentTableDefault(align='center', border='0', bgcolor='#ffffff', cellpadding='0', cellspacing='0', width='640')
                        tbody
                          tr
                            td.mlContentTableCardTd
                              table.mlContentTable.ml-default(align='center', bgcolor='#ffffff', border='0', cellpadding='0', cellspacing='0', style='width: 640px; min-width: 640px;', width='640')
                                tbody
                                  tr
                                    td
                                      table.mlContentTable(role='presentation', cellpadding='0', cellspacing='0', border='0', align='center', width='640', style='width: 640px; min-width: 640px;')
                                        tbody
                                          tr
                                            td.spacingHeight-20(height='20', style='line-height: 20px; min-height: 20px;')
                                      table.mlContentTable(role='presentation', cellpadding='0', cellspacing='0', border='0', align='center', width='640', style='width: 640px; min-width: 640px;')
                                        tbody
                                          tr
                                            td.mlContentOuter#emailContent(style='padding: 0px 40px;')
                                              |                                                 !{body}
                                      table.mlContentTable(role='presentation', cellpadding='0', cellspacing='0', border='0', align='center', width='640', style='width: 640px; min-width: 640px;')
                                        tbody
                                          tr
                                            td.spacingHeight-20(height='20', style='line-height: 20px; min-height: 20px;')
                      // 
                      // 
                      table.mlContentTable.mlContentTableDefault(align='center', border='0', bgcolor='#ffffff', cellpadding='0', cellspacing='0', width='640')
                        tbody
                          tr
                            td.mlContentTableCardTd
                              table.mlContentTable.ml-default(align='center', bgcolor='#ffffff', border='0', cellpadding='0', cellspacing='0', style='width: 640px; min-width: 640px;', width='640')
                                tbody
                                  tr
                                    td
                                      table.mlContentTable(role='presentation', cellpadding='0', cellspacing='0', border='0', align='center', width='640', style='width: 640px; min-width: 640px;')
                                        tbody
                                          tr
                                            td.spacingHeight-20(height='20', style='line-height: 20px; min-height: 20px;')
                                      table.mlContentTable(role='presentation', cellpadding='0', cellspacing='0', border='0', align='center', width='640', style='width: 640px; min-width: 640px;')
                                        tbody
                                          tr
                                            td.mlContentOuter(align='center')
                                              table.mlContentTable(role='presentation', cellpadding='0', cellspacing='0', border='0', align='center', width='560', style='border-top: 2px solid #ededf3; border-collapse: initial;')
                                                tbody
                                                  tr
                                                    td.spacingHeight-20(height='20', style='line-height: 20px; min-height: 20px;')
                      // 
                      // 
                      table.mlContentTable.mlContentTableDefault(align='center', border='0', bgcolor='#ffffff', cellpadding='0', cellspacing='0', width='640')
                        tbody
                          tr
                            td.mlContentTableCardTd
                              table.mlContentTable.ml-default(align='center', bgcolor='#ffffff', border='0', cellpadding='0', cellspacing='0', style='width: 640px; min-width: 640px;', width='640')
                                tbody
                                  tr
                                    td
                                      table.mlContentTable(role='presentation', cellpadding='0', cellspacing='0', border='0', align='center', width='640', style='width: 640px; min-width: 640px;')
                                        tbody
                                          tr
                                            td.spacingHeight-20(height='20', style='line-height: 20px; min-height: 20px;')
                                      table.mlContentTable(role='presentation', cellpadding='0', cellspacing='0', border='0', align='center', width='640', style='width: 640px; min-width: 640px;')
                                        tbody
                                          tr
                                            td.mlContentOuter(align='center', style='padding: 0px 40px;')
                                              table(role='presentation', cellpadding='0', cellspacing='0', border='0', align='center', width='100%')
                                                tbody
                                                  tr
                                                    td(align='center')
                                                      table.social-LinksTable(role='presentation', cellpadding='0', cellspacing='0', border='0', align='center')
                                                        tbody
                                                          tr
                                                            td(align='center', width='30', style='padding: 0 10px;')
                                                              a(href=website, target='_blank')
                                                                img(width='30', alt='website', src='https://cdn.mailerlite.com/images/icons/default/round/color/website.png', style='display: block;', border='0')
                                                            td(align='center', width='30', style='padding: 0 10px;')
                                                              a(href='https://www.instagram.com/' + instagramHandle, target='_blank')
                                                                img(width='30', alt='instagram', src='https://cdn.mailerlite.com/images/icons/default/round/color/instagram.png', style='display: block;', border='0')
                                                            td(align='center', width='30', style='padding: 0 10px;')
                                                              a(href='https://www.facebook.com/' + facebookHandle, target='_blank')
                                                                img(width='30', alt='facebook', src='https://cdn.mailerlite.com/images/icons/default/round/color/facebook.png', style='display: block;', border='0')
                                                            td(align='center', width='30', style='padding: 0 10px;')
                                                              a(href='https://www.twitter.com/' + twitterHandle, target='_blank')
                                                                img(width='30', alt='twitter', src='https://cdn.mailerlite.com/images/icons/default/round/color/twitter.png', style='display: block;', border='0')
                                      table.mlContentTable(role='presentation', cellpadding='0', cellspacing='0', border='0', align='center', width='640', style='width: 640px; min-width: 640px;')
                                        tbody
                                          tr
                                            td.spacingHeight-20(height='20', style='line-height: 20px; min-height: 20px;')
                      // 
              table.mlContentTable(cellpadding='0', cellspacing='0', border='0', align='center', width='640', style='width: 640px; min-width: 640px;')
                tbody
                  tr
                    td.spacingHeight-20(height='40')
              // Content ends here
              //if mso 16
                // 
              // [if !mso] <!
      // <![endif]